export(addrm.terms.asreml,
       addrm.terms.asrtests,
       alldiffs, 
       angular,
       angular.mod,
       asrtests, 
       choose.model.asreml,
       choose.model.asrtests,
       info.crit.asreml,
       info.crit,
       newfit.asreml,
       newrcov.asrtests,
       num.recode,
       permute.square,
       permute.to.zero.lowertri,
       plotvariofaces.asreml,
       power.transform,
       pred.present.asreml,
       predictiondiffs.asreml,
       predictionplot.asreml,
       predictparallel.asreml,
       print.alldiffs,
       print.asrtests, 
       recalc.wald.tab.asreml, 
       recalc.wald.tab.asrtests, 
       reml.lrt.asreml,
       reml.lrt,
       rmboundary.asreml,
       rmboundary.asrtests,
       setvarianceterms.asreml,
       sig.devn.reparam.asreml,
       sig.devn.reparam.asrtests,
       simulate.asreml,
       testrcov.asreml,
       testrcov.asrtests,
       testranfix.asreml,
       testranfix.asrtests,
       testswapran.asreml,
       testswapran.asrtests,
       variofaces.asreml)
import(dae, ggplot2)
importFrom("stats", "as.formula", "fitted.values", "formula", "pchisq",
                    "pf", "predict", "pt", "qt", "quantile", "resid", "rnorm",
                    "simulate", "terms", "terms.formula", "update.formula")
importFrom("grDevices", "savePlot")
importFrom("methods", "languageEl", "languageEl<-")
importFrom("utils", "data", "tail")
S3method(print, asrtests)
S3method(print, alldiffs)
S3method(simulate, asreml)