export(addrm.terms.asreml,
       alldiffs, 
       angular,
       angular.mod,
       asrtests, 
       choose.model.asreml,
       info.crit.asreml,
       info.crit,
       newfit.asreml,
       num.recode,
       permute.square,
       permute.to.zero.lowertri,
       plotvariofaces.asreml,
       power.transform,
       pred.present.asreml,
       predictiondiffs.asreml,
       predictionplot.asreml,
       predictparallel.asreml,
       print.alldiffs,
       print.asrtests, 
       recalc.wald.tab.asreml, 
       reml.lrt.asreml,
       reml.lrt,
       rmboundary.asreml,
       setvarianceterms.asreml,
       sig.devn.reparam.asreml,
       simulate.asreml,
       testrcov.asreml,
       testranfix.asreml,
       testswapran.asreml,
       variofaces.asreml)
import(dae, ggplot2)
importFrom(stats, simulate)
S3method(print, asrtests)
S3method(print, alldiffs)
S3method(simulate, asreml)